.container {
  padding: 20px 50px;

  .btn-container {
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .btn + .btn {
    margin-left: 8px;
  }

  .full-width-table {
    width: 100%;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .no-data {
    text-align: center;
  }

  .action-icon {
    cursor: pointer;
  }
}
