<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1> -->
<div mat-dialog-content></div>

<h2 mat-dialog-title>
  {{ data.view ? "View" : data.record ? "Edit" : "Add" }} Contact
</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="contactForm" novalidate (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="First name"
            formControlName="FirstName"
            [readonly]="data.view"
          />
          <mat-error
            *ngIf="contactForm.controls['FirstName'].hasError('required')"
          >
            First name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Last name"
            formControlName="LastName"
            [readonly]="data.view"
          />
          <mat-error
            *ngIf="contactForm.controls['LastName'].hasError('required')"
          >
            Last name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Other Names"
            formControlName="OtherName"
            [readonly]="data.view"
          />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Date of Birth</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="DateOfBirth"
            [readonly]="data.view"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-radio-group formControlName="Gender" [disabled]="data.view">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
          <mat-radio-button value="others">Other</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <textarea
            matInput
            placeholder="Address"
            formControlName="Address"
            [readonly]="data.view"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Nationality"
            formControlName="Nationality"
            [readonly]="data.view"
          />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Country of Residence"
            formControlName="CountryOfResidence"
            [readonly]="data.view"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input
            matInput
            maxlength="15"
            placeholder="Phone Number"
            formControlName="PhoneNo"
            [readonly]="data.view"
          />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Occupation"
            formControlName="Occupation"
            [readonly]="data.view"
          />
        </mat-form-field>
      </div>
    </div>

    <!-- </mat-card-content>
    </mat-card> -->
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="data.view">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
<mat-dialog-actions align="end" *ngIf="!data.view">
  <button mat-button mat-dialog-close>Cancel</button>
  <div>
    <button mat-raised-button color="accent" (click)="onResetClick()">
      Reset
    </button>
    <button mat-raised-button color="primary" (click)="onSubmit()">
      Submit
    </button>
  </div>
</mat-dialog-actions>
